/* You can add global styles to this file, and also import other style files */
.form-control {
  border-radius: 5px;
}

.card {
  border-radius: 5px;
}

.alert.flash-message {
  margin-top: 10px;
}

.jumbotron {
  margin-top: 10px;
}
